# Empty place holder for the federation config.
# To configure federation settings replace this file with contents of server.federation.config.example
# and edit to adjust to your configuration.
# Or you can generate both federation and regular server configuration by running 
# ant -f server-config.xml server-federation-config -D<overridden properties>
