/**
 * CSS stylesheet for ToplevelToolbarWidget.
 *
 * Author: kalman@google.com (Benjamin Kalman).
 */


.toolbar, .overflowButton {
  /* Hack to position the button dividers underneath the buttons. */
  position: relative;
  z-index: 0;
}

@sprite .toolbar {
  gwt-image: 'fillImage';
  /* Hide the buttons that overflow. */
  overflow: hidden;
}

@sprite .overflowButton {
  gwt-image: 'fillImage';
  float: right;
}

@sprite .overflowButtonIcon {
  gwt-image: 'overflowButtonIcon';
  float: right;
}
