<!DOCTYPE html>
<html ng-app="consoleApp">

<head>
<meta charset="UTF-8">
<title>WaveJS Testing Console</title>

<!-- Bootstrap -->
<link rel="stylesheet"
  href="bootstrap.min.css">

<!-- Jasmine Test framework -->
<link rel="stylesheet" href="jasmine/jasmine.css">
<script src="jasmine/jasmine.js"></script>
<script src="jasmine/jasmine-html.js"></script>
<script src="jasmine/boot.js"></script>



<!-- AngularJS -->
<script
  src="angular.min.js"></script>


<!-- WaveJS -->
<!-- This page is meant to be deployed on the Wave server -->
<script type="text/javascript" src="../wavejs/wavejs.nocache.js"></script>
<script type="text/javascript" src="testsuite/p2pvalue.js"></script>

<script type="text/javascript">
  var consoleApp = angular.module('consoleApp', []);

  consoleApp.controller('SessionCtrl', [
      '$scope',
      '$rootScope',
      function($scope, $rootScope) {

        // Default Values
        $rootScope.sessionId = "";

        $scope.errorMsg = "";
        $scope.loginStatus = 'no'; // no, yes, wait

        $scope.server = "http://localhost:9898";

        $scope.login = function() {

          $scope.loginStatus = "wait";

          // Callbacks and controllers...
          // http://stackoverflow.com/questions/18931689/angularjs-service-callback-to-update-scope-of-controller
          // http://markdalgleish.com/2013/06/using-promises-in-angularjs-views/

          WaveJS.startSession($scope.server, $scope.uid,
              $scope.password, function(sessionId) {

                $scope.errorMsg = "";
                $rootScope.sessionId = sessionId;
                $scope.loginStatus = "yes";
                $rootScope.$apply();

              }, function(error) {

                $scope.errorMsg = error;
                $scope.loginStatus = "no";
                $rootScope.sessionId = "";
                $rootScope.$apply();

              });
        };

        $scope.logout = function() {

          WaveJS.stopSession();
          $scope.errorMsg = "";
          $scope.loginStatus = "no";
          $rootScope.sessionId = "";

        };

      } ]); // SessionCtrl

  consoleApp.controller('TestingCtrl', [ '$scope', '$rootScope',
      function($scope, $rootScope) {

        $scope.runP2PvalueTest = function() {

          P2PvalueTest.run();

        };

      } ]); // TestingCtrl

  function onWaveJSReady() {

  };
</script>

</head>

<body>

  <div class="container">

    <div class="jumbotron">
      <div class="container">
        <h1>WaveJS Testing Console</h1>
      </div>
    </div>

    <div class="row">


      <div class="col-md-4" ng-controller="SessionCtrl">
        <div class="panel panel-default">
          <div class="panel-heading">Server status</div>
          <div class="panel-body">
            <div class="alert alert-danger" ng-show="errorMsg != ''">{{errorMsg}}</div>

            <form role="form" id="loginForm" ng-hide="loginStatus != 'no'">
              <div class="form-group">
                <label for="server">Server URL</label> <input type="url"
                  class="form-control" id="server" ng-model="server" required>
              </div>
              <div class="form-group">
                <label for="uid">User ID (e.g. tim)</label> <input type="text"
                  class="form-control" id="uid" placeholder="User ID"
                  ng-model="uid" required>
              </div>
              <div class="form-group">
                <label for="password">Password</label> <input type="password"
                  class="form-control" id="password" placeholder="Password"
                  ng-model="password" required>
              </div>
              <button type="submit" class="btn btn-default" ng-click="login()" id="login">Sign
                in</button>
            </form>



            <form role="form" id="logoutForm" ng-show="loginStatus == 'yes'">
              <div class="alert alert-success" role="alert">Session
                started: {{sessionId}}</div>
              <button type="submit" class="btn btn-default" ng-click="logout()">Log
                out</button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-8" ng-controller="TestingCtrl">
        <div class="panel panel-default" ng-show="sessionId !== ''">
          <div class="panel-heading">Tests</div>
          <div class="panel-body">
            <form role="form" id="testForm">
              <button type="submit" class="btn btn-default" id="runP2PvalueTest"
                ng-click="runP2PvalueTest()">Run Test Community Model</button>
              <button type="submit" class="btn btn-default">Create a Community Model in WaveJS.cm</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <br> <br> <br>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">Jasmine's Tests output</div>
          <div class="panel-body" id="testResults"></div>
        </div>
      </div>

    </div>

  </div>

</body>
</html>
