/*
 * CSS for popups on mobile.
 * Author: macpherson@google.com (Luke Macpherson)
 */

.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
}

.shadow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.33;
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 20px;
  height: auto;
  opacity: 0.97;
  overflow: hidden;
  background-color: #FFFFFF;
  border: 1px solid #333333;
  \-webkit-border-radius: 7px;
}
