/*
 * StyleInjector CSS file for password form element
 *
 * Author: mprasetya@google.com (Marcel Prasetya)
 */
.password {
  display:block;
  border:1px solid silver;
  padding:4px;
  margin:4px 0;
  width: 99%;
}
